[submodule "extlibs/code-virtualizer-sdk"]
	path = extlibs/code-virtualizer-sdk
	url = https://github.com/orange-cpp/code-virtualizer-sdk
[submodule "extlibs/titanfall-2-sdk"]
	path = extlibs/titanfall-2-sdk
	url = https://github.com/orange-cpp/titanfall-2-sdk
[submodule "extlibs/imgui/extlibs/freetype"]
	path = extlibs/imgui/extlibs/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
